Client/01.Presentation/Presentation.Process/Service References/ZAMainAppServiceRef/ZAMainAppService83.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/ZAMainAppService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="request" nillable="true" type="q1:SessionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="getSessionResult" nillable="true" type="q2:SessionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="request" nillable="true" type="q3:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="doLoginResult" nillable="true" type="q4:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doLoginWithSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="request" nillable="true" type="q5:LoginRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doLoginWithSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="doLoginWithSessionResult" nillable="true" type="q6:LoginResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doLogout">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="request" nillable="true" type="q7:LogoutRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doLogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="doLogoutResult" nillable="true" type="q8:LogoutResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doCheckSession">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="request" nillable="true" type="q9:SessionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doCheckSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CommunicationServices.ZAMainApp.Messages" minOccurs="0" name="doCheckSessionResult" nillable="true" type="q10:SessionResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>