Client/01.Presentation/Presentation.Process/Service References/TaiSanDamBaoServiceRef/CommunicationServices.TaiSanDamBao.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSanDamBao.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSanDamBao.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
  <xs:complexType name="TaiSanDamBaoRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="dsThuocTinh" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:element ref="xs:schema" />
                <xs:any />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIdHopDongTheChap" nillable="true" type="q2:ArrayOfint" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIdLoaiTaiSan" nillable="true" type="q3:ArrayOfint" />
          <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIdTaiSanDamBao" nillable="true" type="q4:ArrayOfint" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstLoaiTS" nillable="true" type="q5:ArrayOfTD_TSAN_LOAI" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstPhanHePLoai" nillable="true" type="q6:ArrayOfKT_PHAN_HE_PLOAI" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="lstTSDB" nillable="true" type="q7:ArrayOfTD_TAI_SAN_DAM_BAO" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstTaiSanDamBao" nillable="true" type="q8:ArrayOfTD_TSDB" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="objHDTC" nillable="true" type="q9:TDVM_HOP_DONG_TCHAP" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objHopDongTheChap" nillable="true" type="q10:TD_HDTC" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objLoaiTS" nillable="true" type="q11:TD_TSAN_LOAI" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objLoaiTaiSan" nillable="true" type="q12:TD_TSAN_LOAI" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="objNhapXuat" nillable="true" type="q13:NHAP_XUAT_TSDB" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="objTSDB" nillable="true" type="q14:TD_TAI_SAN_DAM_BAO" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objTaiSanDamBao" nillable="true" type="q15:TD_TSDB" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaiSanDamBaoRequest" nillable="true" type="tns:TaiSanDamBaoRequest" />
  <xs:complexType name="TaiSanDamBaoResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q16:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="dsThuocTinh" nillable="true">
            <xs:complexType>
              <xs:annotation>
                <xs:appinfo>
                  <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:element ref="xs:schema" />
                <xs:any />
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstLoaiTS" nillable="true" type="q17:ArrayOfTD_TSAN_LOAI" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstPhanHePLoai" nillable="true" type="q18:ArrayOfKT_PHAN_HE_PLOAI" />
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="lstTSDB" nillable="true" type="q19:ArrayOfTD_TAI_SAN_DAM_BAO" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstTaiSanDamBao" nillable="true" type="q20:ArrayOfTD_TSDB" />
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="objHDTC" nillable="true" type="q21:TDVM_HOP_DONG_TCHAP" />
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objHopDongTheChap" nillable="true" type="q22:TD_HDTC" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objLoaiTS" nillable="true" type="q23:TD_TSAN_LOAI" />
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="objNhapXuat" nillable="true" type="q24:NHAP_XUAT_TSDB" />
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BusinessServices.TaiSanDamBao.DTO" minOccurs="0" name="objTSDB" nillable="true" type="q25:TD_TAI_SAN_DAM_BAO" />
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objTaiSanDamBao" nillable="true" type="q26:TD_TSDB" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TaiSanDamBaoResponse" nillable="true" type="tns:TaiSanDamBaoResponse" />
</xs:schema>