Client/01.Presentation/Presentation.Process/Service References/TyGiaServiceRef/TyGiaService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/TyGiaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TyGia.Messages" />
  <xs:element name="TyGia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.TyGia.Messages" minOccurs="0" name="request" nillable="true" type="q1:TyGiaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TyGiaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.TyGia.Messages" minOccurs="0" name="TyGiaResult" nillable="true" type="q2:TyGiaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>