Client/01.Presentation/Presentation.Process/Service References/PopupServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.Popup.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPopupInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.Popup.Messages" minOccurs="0" name="request" nillable="true" type="q1:SimplePopupRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getPopupInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.Popup.Messages" minOccurs="0" name="getPopupInformationResult" nillable="true" type="q2:SimplePopupResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>