Client/01.Presentation/Presentation.Process/Service References/PopupServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PopupService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.Popup.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPopupService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="IPopupService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IPopupService_getPopupInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:getPopupInformation" />
  </wsdl:message>
  <wsdl:message name="IPopupService_getPopupInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getPopupInformationResponse" />
  </wsdl:message>
  <wsdl:portType name="IPopupService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/returnHello" message="tns:IPopupService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/returnHelloResponse" message="tns:IPopupService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getPopupInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/IPopupService/getPopupInformation" message="tns:IPopupService_getPopupInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPopupService/getPopupInformationResponse" message="tns:IPopupService_getPopupInformation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PopupEndpoint" type="tns:IPopupService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/IPopupService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPopupInformation">
      <soap:operation soapAction="http://tempuri.org/IPopupService/getPopupInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PopupService">
    <wsdl:port name="PopupEndpoint" binding="tns:PopupEndpoint">
      <soap:address location="http://localhost:1001/PopupService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>