Client/01.Presentation/Presentation.Process/Service References/NhanSuServiceRef/NhanSuService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/NhanSuService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.NhanSu.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="functionName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.NhanSu.Messages" minOccurs="0" name="request" nillable="true" type="q1:NhanSuRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="functionNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.NhanSu.Messages" minOccurs="0" name="functionNameResult" nillable="true" type="q2:NhanSuResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanSu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServices.NhanSu.Messages" minOccurs="0" name="request" nillable="true" type="q3:NhanSuRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhanSuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServices.NhanSu.Messages" minOccurs="0" name="NhanSuResult" nillable="true" type="q4:NhanSuResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>