Client/01.Presentation/Presentation.Process/Service References/WebProcessServiceRef/WebProcessService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebProcessService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1234/WebProcessService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1234/WebProcessService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1234/WebProcessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.WebProcess.Messages" />
      <xsd:import schemaLocation="http://localhost:1234/WebProcessService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import schemaLocation="http://localhost:1234/WebProcessService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import schemaLocation="http://localhost:1234/WebProcessService.svc?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebProcessService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="IWebProcessService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IWebProcessService_MessageProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:MessageProcess" />
  </wsdl:message>
  <wsdl:message name="IWebProcessService_MessageProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:MessageProcessResponse" />
  </wsdl:message>
  <wsdl:message name="IWebProcessService_RequestProcess_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestProcess" />
  </wsdl:message>
  <wsdl:message name="IWebProcessService_RequestProcess_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestProcessResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebProcessService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebProcessService/returnHello" message="tns:IWebProcessService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebProcessService/returnHelloResponse" message="tns:IWebProcessService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MessageProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebProcessService/MessageProcess" message="tns:IWebProcessService_MessageProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebProcessService/MessageProcessResponse" message="tns:IWebProcessService_MessageProcess_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestProcess">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebProcessService/RequestProcess" message="tns:IWebProcessService_RequestProcess_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebProcessService/RequestProcessResponse" message="tns:IWebProcessService_RequestProcess_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="JobEndpoint" type="tns:IWebProcessService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/IWebProcessService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MessageProcess">
      <soap:operation soapAction="http://tempuri.org/IWebProcessService/MessageProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestProcess">
      <soap:operation soapAction="http://tempuri.org/IWebProcessService/RequestProcess" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebProcessService">
    <wsdl:port name="JobEndpoint" binding="tns:JobEndpoint">
      <soap:address location="http://localhost:1234/WebProcessService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>