Client/01.Presentation/Presentation.Process/Service References/WebProcessServiceRef/WebProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1234/WebProcessService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.WebProcess.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageProcessResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.WebProcess.Messages" minOccurs="0" name="request" nillable="true" type="q1:WebRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RequestProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.WebProcess.Messages" minOccurs="0" name="RequestProcessResult" nillable="true" type="q2:WebResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>