Client/01.Presentation/Presentation.Process/Service References/LaiSuatServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LaiSuatService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.LaiSuat.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILaiSuatService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="ILaiSuatService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="ILaiSuatService_LaiSuat_InputMessage">
    <wsdl:part name="parameters" element="tns:LaiSuat" />
  </wsdl:message>
  <wsdl:message name="ILaiSuatService_LaiSuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:LaiSuatResponse" />
  </wsdl:message>
  <wsdl:message name="ILaiSuatService_GetThongTinLaiSuat_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThongTinLaiSuat" />
  </wsdl:message>
  <wsdl:message name="ILaiSuatService_GetThongTinLaiSuat_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThongTinLaiSuatResponse" />
  </wsdl:message>
  <wsdl:portType name="ILaiSuatService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaiSuatService/returnHello" message="tns:ILaiSuatService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaiSuatService/returnHelloResponse" message="tns:ILaiSuatService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LaiSuat">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaiSuatService/LaiSuat" message="tns:ILaiSuatService_LaiSuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaiSuatService/LaiSuatResponse" message="tns:ILaiSuatService_LaiSuat_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThongTinLaiSuat">
      <wsdl:input wsaw:Action="http://tempuri.org/ILaiSuatService/GetThongTinLaiSuat" message="tns:ILaiSuatService_GetThongTinLaiSuat_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILaiSuatService/GetThongTinLaiSuatResponse" message="tns:ILaiSuatService_GetThongTinLaiSuat_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LaiSuatEndpoint" type="tns:ILaiSuatService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/ILaiSuatService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LaiSuat">
      <soap:operation soapAction="http://tempuri.org/ILaiSuatService/LaiSuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThongTinLaiSuat">
      <soap:operation soapAction="http://tempuri.org/ILaiSuatService/GetThongTinLaiSuat" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LaiSuatService">
    <wsdl:port name="LaiSuatEndpoint" binding="tns:LaiSuatEndpoint">
      <soap:address location="http://localhost:1001/LaiSuatService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>