Client/01.Presentation/Presentation.Process/Service References/HuyDongVonServiceRef/BusinessServices.Utilities.DTO11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessServices.Utilities.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessServices.Utilities.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTHONG_TIN_TIEN_LAI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="THONG_TIN_TIEN_LAI" nillable="true" type="tns:THONG_TIN_TIEN_LAI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTHONG_TIN_TIEN_LAI" nillable="true" type="tns:ArrayOfTHONG_TIN_TIEN_LAI" />
  <xs:complexType name="THONG_TIN_TIEN_LAI">
    <xs:sequence>
      <xs:element minOccurs="0" name="DEN_NGAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DOI_TUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAI_SUAT" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_NGAY_TINH_LAI" type="xs:int" />
      <xs:element minOccurs="0" name="SO_THANG_TINH_LAI" type="xs:int" />
      <xs:element minOccurs="0" name="SO_TIEN" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_LAI" type="xs:decimal" />
      <xs:element minOccurs="0" name="TU_NGAY" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="THONG_TIN_TIEN_LAI" nillable="true" type="tns:THONG_TIN_TIEN_LAI" />
</xs:schema>