Client/01.Presentation/Presentation.Process/Service References/HuyDongVonServiceRef/CommunicationServices.HuyDongVon.Messages11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationServices.HuyDongVon.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationServices.HuyDongVon.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
  <xs:complexType name="HuyDongVonRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q1:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLSanPhamCT" nillable="true" type="q2:ArrayOfBL_SAN_PHAM_CT" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLTienGui" nillable="true" type="q3:ArrayOfBL_TIEN_GUI" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLTienGuiDCSH" nillable="true" type="q4:ArrayOfBL_TIEN_GUI_DCSH" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLTienGuiKHoach" nillable="true" type="q5:ArrayOfBL_TIEN_GUI_KHOACH" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVDanhSachSo" nillable="true" type="q6:ArrayOfHDV_DANH_SACH_SO" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVDongTaiKhoan" nillable="true" type="q7:ArrayOfHDV_DONG_TAI_KHOAN" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVPhongToaSoDu" nillable="true" type="q8:ArrayOfHDV_PHONG_TOA_SO_DU" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVThayDoiLaiSuat" nillable="true" type="q9:ArrayOfHDV_THAY_DOI_LAI_SUAT" />
          <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIDSanPham" nillable="true" type="q10:ArrayOfint" />
          <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIDTienGui" nillable="true" type="q11:ArrayOfint" />
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstKTPhanHePhanLoai" nillable="true" type="q12:ArrayOfKT_PHAN_HE_PLOAI" />
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstThongTinDKyRutGoc" nillable="true" type="q13:ArrayOfHDV_THONG_TIN_DKY_RUT_GOC" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBLSanPham" nillable="true" type="q14:BL_SAN_PHAM" />
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBLTienGui" nillable="true" type="q15:BL_TIEN_GUI" />
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBangKe" nillable="true" type="q16:NQ_BKE_TMAT" />
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBangKeCT" nillable="true" type="q17:NQ_BKE_TMAT_CT" />
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDangKyRutGoc" nillable="true" type="q18:HDV_THONG_TIN_DK_RUT_GOC" />
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDatLichDuChi" nillable="true" type="q19:HDV_DAT_LICH_DU_CHI" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDatLichPhanBo" nillable="true" type="q20:HDV_DAT_LICH_PHAN_BO" />
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDongTaiKhoan" nillable="true" type="q21:HDV_DONG_TAI_KHOAN" />
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDuChi" nillable="true" type="q22:HDV_DU_CHI" />
          <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGiaiToaSoDu" nillable="true" type="q23:HDV_GIAI_TOA_SO_DU" />
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGuiTienTheoDanhSach" nillable="true" type="q24:HDV_GUI_TIEN_THEO_DANH_SACH" />
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGuiTienTheoExcel" nillable="true" type="q25:HDV_GUI_TIEN_THEO_EXCEL" />
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGuiTienTheoSo" nillable="true" type="q26:HDV_GUI_TIEN_THEO_SO" />
          <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVLaiNhapGocTheoDanhSach" nillable="true" type="q27:HDV_LAI_NHAP_GOC_THEO_DANH_SACH" />
          <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVLaiNhapGocTheoTungSo" nillable="true" type="q28:HDV_LAI_NHAP_GOC_THEO_TUNG_SO" />
          <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVMoLaiTaiKhoan" nillable="true" type="q29:HDV_MO_LAI_TAI_KHOAN" />
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVPhanBoChiPhi" nillable="true" type="q30:HDV_PHAN_BO_CHI_PHI" />
          <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVPhongToaSoDu" nillable="true" type="q31:HDV_PHONG_TOA_SO_DU" />
          <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVRutGocMotPhan" nillable="true" type="q32:HDV_RUT_GOC_MOT_PHAN" />
          <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVRutGocTheoDanhSach" nillable="true" type="q33:HDV_RUT_GOC_THEO_DANH_SACH" />
          <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTatToan" nillable="true" type="q34:HDV_TAT_TOAN" />
          <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTatToanTheoDanhSach" nillable="true" type="q35:HDV_TAT_TOAN_THEO_DANH_SACH" />
          <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVThayDoiLaiSuat" nillable="true" type="q36:HDV_THAY_DOI_LAI_SUAT" />
          <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTraLai" nillable="true" type="q37:HDV_TRA_LAI" />
          <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTraLaiTheoDanhSach" nillable="true" type="q38:HDV_TRA_LAI_THEO_DANH_SACH" />
          <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objThongTinDKyRutGoc" nillable="true" type="q39:HDV_THONG_TIN_DKY_RUT_GOC" />
          <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objThongTinSoTG" nillable="true" type="q40:HDV_THONG_TIN_SO_TGUI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HuyDongVonRequest" nillable="true" type="tns:HuyDongVonRequest" />
  <xs:complexType name="HuyDongVonResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q41="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q41:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLSanPhamCT" nillable="true" type="q42:ArrayOfBL_SAN_PHAM_CT" />
          <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLTienGui" nillable="true" type="q43:ArrayOfBL_TIEN_GUI" />
          <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLTienGuiDCSH" nillable="true" type="q44:ArrayOfBL_TIEN_GUI_DCSH" />
          <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstBLTienGuiKHoach" nillable="true" type="q45:ArrayOfBL_TIEN_GUI_KHOACH" />
          <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVDanhSachSo" nillable="true" type="q46:ArrayOfHDV_DANH_SACH_SO" />
          <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVDongTaiKhoan" nillable="true" type="q47:ArrayOfHDV_DONG_TAI_KHOAN" />
          <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVPhongToaSoDu" nillable="true" type="q48:ArrayOfHDV_PHONG_TOA_SO_DU" />
          <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstHDVThayDoiLaiSuat" nillable="true" type="q49:ArrayOfHDV_THAY_DOI_LAI_SUAT" />
          <xs:element xmlns:q50="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIDSanPham" nillable="true" type="q50:ArrayOfint" />
          <xs:element xmlns:q51="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lstIDTienGui" nillable="true" type="q51:ArrayOfint" />
          <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="lstKTPhanHePhanLoai" nillable="true" type="q52:ArrayOfKT_PHAN_HE_PLOAI" />
          <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="lstThongTinDKyRutGoc" nillable="true" type="q53:ArrayOfHDV_THONG_TIN_DKY_RUT_GOC" />
          <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBLSanPham" nillable="true" type="q54:BL_SAN_PHAM" />
          <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBLTienGui" nillable="true" type="q55:BL_TIEN_GUI" />
          <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBangKe" nillable="true" type="q56:NQ_BKE_TMAT" />
          <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" minOccurs="0" name="objBangKeCT" nillable="true" type="q57:NQ_BKE_TMAT_CT" />
          <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDangKyRutGoc" nillable="true" type="q58:HDV_THONG_TIN_DK_RUT_GOC" />
          <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDatLichDuChi" nillable="true" type="q59:HDV_DAT_LICH_DU_CHI" />
          <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDatLichPhanBo" nillable="true" type="q60:HDV_DAT_LICH_PHAN_BO" />
          <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDongTaiKhoan" nillable="true" type="q61:HDV_DONG_TAI_KHOAN" />
          <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVDuChi" nillable="true" type="q62:HDV_DU_CHI" />
          <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGiaiToaSoDu" nillable="true" type="q63:HDV_GIAI_TOA_SO_DU" />
          <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGuiTienTheoDanhSach" nillable="true" type="q64:HDV_GUI_TIEN_THEO_DANH_SACH" />
          <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGuiTienTheoExcel" nillable="true" type="q65:HDV_GUI_TIEN_THEO_EXCEL" />
          <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVGuiTienTheoSo" nillable="true" type="q66:HDV_GUI_TIEN_THEO_SO" />
          <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVLaiNhapGocTheoDanhSach" nillable="true" type="q67:HDV_LAI_NHAP_GOC_THEO_DANH_SACH" />
          <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVLaiNhapGocTheoTungSo" nillable="true" type="q68:HDV_LAI_NHAP_GOC_THEO_TUNG_SO" />
          <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVMoLaiTaiKhoan" nillable="true" type="q69:HDV_MO_LAI_TAI_KHOAN" />
          <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVPhanBoChiPhi" nillable="true" type="q70:HDV_PHAN_BO_CHI_PHI" />
          <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVPhongToaSoDu" nillable="true" type="q71:HDV_PHONG_TOA_SO_DU" />
          <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVRutGocMotPhan" nillable="true" type="q72:HDV_RUT_GOC_MOT_PHAN" />
          <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVRutGocTheoDanhSach" nillable="true" type="q73:HDV_RUT_GOC_THEO_DANH_SACH" />
          <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTatToan" nillable="true" type="q74:HDV_TAT_TOAN" />
          <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTatToanTheoDanhSach" nillable="true" type="q75:HDV_TAT_TOAN_THEO_DANH_SACH" />
          <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVThayDoiLaiSuat" nillable="true" type="q76:HDV_THAY_DOI_LAI_SUAT" />
          <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTraLai" nillable="true" type="q77:HDV_TRA_LAI" />
          <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objHDVTraLaiTheoDanhSach" nillable="true" type="q78:HDV_TRA_LAI_THEO_DANH_SACH" />
          <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objThongTinDKyRutGoc" nillable="true" type="q79:HDV_THONG_TIN_DKY_RUT_GOC" />
          <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/BusinessServices.HuyDongVon.DTO" minOccurs="0" name="objThongTinSoTG" nillable="true" type="q80:HDV_THONG_TIN_SO_TGUI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HuyDongVonResponse" nillable="true" type="tns:HuyDongVonResponse" />
</xs:schema>