Client/01.Presentation/Presentation.Process/Service References/KeToanServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KeToanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.KeToan.Messages" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/BusinessServices.KeToan.DTO" />
      <xsd:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="" namespace="http://schemas.datacontract.org/2004/07/BusinessServices.HachToan.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKeToanService_TaiKhoan_InputMessage">
    <wsdl:part name="parameters" element="tns:TaiKhoan" />
  </wsdl:message>
  <wsdl:message name="IKeToanService_TaiKhoan_OutputMessage">
    <wsdl:part name="parameters" element="tns:TaiKhoanResponse" />
  </wsdl:message>
  <wsdl:message name="IKeToanService_GiaoDichKeToan_InputMessage">
    <wsdl:part name="parameters" element="tns:GiaoDichKeToan" />
  </wsdl:message>
  <wsdl:message name="IKeToanService_GiaoDichKeToan_OutputMessage">
    <wsdl:part name="parameters" element="tns:GiaoDichKeToanResponse" />
  </wsdl:message>
  <wsdl:portType name="IKeToanService">
    <wsdl:operation name="TaiKhoan">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeToanService/TaiKhoan" message="tns:IKeToanService_TaiKhoan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeToanService/TaiKhoanResponse" message="tns:IKeToanService_TaiKhoan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GiaoDichKeToan">
      <wsdl:input wsaw:Action="http://tempuri.org/IKeToanService/GiaoDichKeToan" message="tns:IKeToanService_GiaoDichKeToan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKeToanService/GiaoDichKeToanResponse" message="tns:IKeToanService_GiaoDichKeToan_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="KeToanEndpoint" type="tns:IKeToanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TaiKhoan">
      <soap:operation soapAction="http://tempuri.org/IKeToanService/TaiKhoan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GiaoDichKeToan">
      <soap:operation soapAction="http://tempuri.org/IKeToanService/GiaoDichKeToan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KeToanService">
    <wsdl:port name="KeToanEndpoint" binding="tns:KeToanEndpoint">
      <soap:address location="http://localhost:1001/KeToanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>