Client/01.Presentation/Presentation.Process/Service References/HanMucServiceRef/DataModel.EntityFramework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDC_HAN_MUC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_HAN_MUC" nillable="true" type="tns:DC_HAN_MUC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_HAN_MUC" nillable="true" type="tns:ArrayOfDC_HAN_MUC" />
  <xs:complexType name="DC_HAN_MUC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CNANG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TNANG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_HAN_MUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAX" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MA_CNANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TNANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MIN" type="xs:decimal" />
      <xs:element minOccurs="0" name="NGAY_ADUNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HHAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DC_HAN_MUC" nillable="true" type="tns:DC_HAN_MUC" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="ArrayOfHM_CTIET_LOAITS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HM_CTIET_LOAITS" nillable="true" type="tns:HM_CTIET_LOAITS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHM_CTIET_LOAITS" nillable="true" type="tns:ArrayOfHM_CTIET_LOAITS" />
  <xs:complexType name="HM_CTIET_LOAITS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="GIA_TRI_TDA" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC_CTIET" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LOAI_TSDB" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC_CTIET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TSDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_CTIET_LOAITS" nillable="true" type="tns:HM_CTIET_LOAITS" />
  <xs:complexType name="HM_CTIET">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIEN_GIAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HMUC_CO_TSAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_DA_DUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_KDUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_KHONG_TSAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_PDUYET" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_SDUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC_TONG" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC_TONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_CTIET" nillable="true" type="tns:HM_CTIET" />
  <xs:complexType name="HM_TONG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIEN_GIAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HMUC_KDUNG" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_PDUYET" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_TONG" nillable="true" type="tns:HM_TONG" />
  <xs:complexType name="ArrayOfHM_TONG_NHOMSP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HM_TONG_NHOMSP" nillable="true" type="tns:HM_TONG_NHOMSP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHM_TONG_NHOMSP" nillable="true" type="tns:ArrayOfHM_TONG_NHOMSP" />
  <xs:complexType name="HM_TONG_NHOMSP">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="HMUC_PDUYET" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC_TONG" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_TONG_NHOMSP" nillable="true" type="tns:HM_TONG_NHOMSP" />
</xs:schema>