Client/01.Presentation/Presentation.Process/Service References/HanMucServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HanMucService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.HanMuc.Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BusinessServices.HanMuc.DTO" />
      <xsd:import />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHanMucService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="IHanMucService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IHanMucService_HanMuc_InputMessage">
    <wsdl:part name="parameters" element="tns:HanMuc" />
  </wsdl:message>
  <wsdl:message name="IHanMucService_HanMuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:HanMucResponse" />
  </wsdl:message>
  <wsdl:portType name="IHanMucService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IHanMucService/returnHello" message="tns:IHanMucService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHanMucService/returnHelloResponse" message="tns:IHanMucService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HanMuc">
      <wsdl:input wsaw:Action="http://tempuri.org/IHanMucService/HanMuc" message="tns:IHanMucService_HanMuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHanMucService/HanMucResponse" message="tns:IHanMucService_HanMuc_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HanMucEndpoint" type="tns:IHanMucService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/IHanMucService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HanMuc">
      <soap:operation soapAction="http://tempuri.org/IHanMucService/HanMuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HanMucService">
    <wsdl:port name="HanMucEndpoint" binding="tns:HanMucEndpoint">
      <soap:address location="http://localhost:1001/HanMucService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>