Client/01.Presentation/Presentation.Process/Service References/TinDungTTServiceRef/TinDungTTService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TinDungTTService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDungTT.Messages" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd6" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/BusinessServices.HanMuc.DTO" />
      <xsd:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITinDungTTService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="ITinDungTTService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="ITinDungTTService_TinDungTT_InputMessage">
    <wsdl:part name="parameters" element="tns:TinDungTT" />
  </wsdl:message>
  <wsdl:message name="ITinDungTTService_TinDungTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:TinDungTTResponse" />
  </wsdl:message>
  <wsdl:portType name="ITinDungTTService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/ITinDungTTService/returnHello" message="tns:ITinDungTTService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITinDungTTService/returnHelloResponse" message="tns:ITinDungTTService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TinDungTT">
      <wsdl:input wsaw:Action="http://tempuri.org/ITinDungTTService/TinDungTT" message="tns:ITinDungTTService_TinDungTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITinDungTTService/TinDungTTResponse" message="tns:ITinDungTTService_TinDungTT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TinDungTTEndpoint" type="tns:ITinDungTTService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/ITinDungTTService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TinDungTT">
      <soap:operation soapAction="http://tempuri.org/ITinDungTTService/TinDungTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TinDungTTService">
    <wsdl:port name="TinDungTTEndpoint" binding="tns:TinDungTTEndpoint">
      <soap:address location="http://localhost:1001/TinDungTTService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>