Client/01.Presentation/Presentation.Process/Service References/TinDungTTServiceRef/TinDungTTService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDungTT.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDungTT.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" />
  <xs:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
  <xs:complexType name="TinDungTTRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q1:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="lstHopDongTinDung" nillable="true" type="q2:ArrayOfTDTT_HOP_DONG_TIN_DUNG" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="lstSanPham" nillable="true" type="q3:ArrayOfTDTT_SAN_PHAM" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="objHopDongTinDung" nillable="true" type="q4:TDTT_HOP_DONG_TIN_DUNG" />
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="objSanPham" nillable="true" type="q5:TDTT_SAN_PHAM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TinDungTTRequest" nillable="true" type="tns:TinDungTTRequest" />
  <xs:complexType name="TinDungTTResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q6:ResponseBase">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="lstHopDongTinDung" nillable="true" type="q7:ArrayOfTDTT_HOP_DONG_TIN_DUNG" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="lstSanPham" nillable="true" type="q8:ArrayOfTDTT_SAN_PHAM" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="objHopDongTinDung" nillable="true" type="q9:TDTT_HOP_DONG_TIN_DUNG" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BusinessServices.TinDungTT.DTO" minOccurs="0" name="objSanPham" nillable="true" type="q10:TDTT_SAN_PHAM" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TinDungTTResponse" nillable="true" type="tns:TinDungTTResponse" />
</xs:schema>