Client/01.Presentation/Presentation.Process/Service References/TinDungTTServiceRef/TinDungTTService8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/TinDungTTService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfHM_CTIET">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HM_CTIET" nillable="true" type="tns:HM_CTIET" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHM_CTIET" nillable="true" type="tns:ArrayOfHM_CTIET" />
  <xs:complexType name="HM_CTIET">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIEN_GIAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HMUC_CO_TSAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_DA_DUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_KDUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_KHONG_TSAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_PDUYET" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_SDUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC_TONG" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC_TONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_CTIET" nillable="true" type="tns:HM_CTIET" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="ArrayOfTD_HDTD_TSDB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TD_HDTD_TSDB" nillable="true" type="tns:TD_HDTD_TSDB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTD_HDTD_TSDB" nillable="true" type="tns:ArrayOfTD_HDTD_TSDB" />
  <xs:complexType name="TD_HDTD_TSDB">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="GIA_TRI_DAM_BAO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HDTD" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TSDB" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TSDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TY_LE_DAM_BAO" nillable="true" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TD_HDTD_TSDB" nillable="true" type="tns:TD_HDTD_TSDB" />
  <xs:complexType name="ArrayOfVTD_HDTD_DONG_TRACH_NHIEM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VTD_HDTD_DONG_TRACH_NHIEM" nillable="true" type="tns:VTD_HDTD_DONG_TRACH_NHIEM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVTD_HDTD_DONG_TRACH_NHIEM" nillable="true" type="tns:ArrayOfVTD_HDTD_DONG_TRACH_NHIEM" />
  <xs:complexType name="VTD_HDTD_DONG_TRACH_NHIEM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID_TCHIEU" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DOI_TUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MOI_QUAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_DL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_SINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_BANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="VTD_HDTD_DONG_TRACH_NHIEM" nillable="true" type="tns:VTD_HDTD_DONG_TRACH_NHIEM" />
  <xs:complexType name="ArrayOfHM_CTIET_LOAITS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HM_CTIET_LOAITS" nillable="true" type="tns:HM_CTIET_LOAITS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHM_CTIET_LOAITS" nillable="true" type="tns:ArrayOfHM_CTIET_LOAITS" />
  <xs:complexType name="HM_CTIET_LOAITS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="GIA_TRI_TDA" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC_CTIET" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LOAI_TSDB" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC_CTIET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TSDB" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_CTIET_LOAITS" nillable="true" type="tns:HM_CTIET_LOAITS" />
  <xs:complexType name="HM_TONG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIEN_GIAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HMUC_KDUNG" type="xs:decimal" />
      <xs:element minOccurs="0" name="HMUC_PDUYET" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_TONG" nillable="true" type="tns:HM_TONG" />
  <xs:complexType name="ArrayOfHM_TONG_NHOMSP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HM_TONG_NHOMSP" nillable="true" type="tns:HM_TONG_NHOMSP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHM_TONG_NHOMSP" nillable="true" type="tns:ArrayOfHM_TONG_NHOMSP" />
  <xs:complexType name="HM_TONG_NHOMSP">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="HMUC_PDUYET" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DTUONG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC_TONG" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HM_TONG_NHOMSP" nillable="true" type="tns:HM_TONG_NHOMSP" />
  <xs:complexType name="TD_HDTD">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIEN_DO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CAP_LNHIEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAP_LNHIEM_LSUAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="HAN_MUC_CAP" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HAN_MUC_KHA_DUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HTHUC_ADUNG_LSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHANG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NGUOI_QLY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_SAN_PHAM" type="xs:int" />
      <xs:element minOccurs="0" name="KHOACH_HTHUC_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KHOACH_NGAY_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KY_HAN" type="xs:int" />
      <xs:element minOccurs="0" name="KY_HAN_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAI_SUAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_QHAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGUOI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MUC_DICH_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGANH_KINH_TE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CHUYEN_QH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_DAO_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_GIA_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HIEU_LUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHI_MO_HD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PHUONG_THUC_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TIEN_VAY" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TKHOAN_NHAN_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_HTHUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_SO_KY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TRGOC_SO_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_HTHUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_SO_KY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TRLAI_SO_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_GIAI_NGAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TD_HDTD" nillable="true" type="tns:TD_HDTD" />
  <xs:complexType name="TD_HDTD_LSU">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIEN_DO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="CAP_LNHIEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAP_LNHIEM_LSUAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="HAN_MUC_CAP" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HAN_MUC_KHA_DUNG" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HTHUC_ADUNG_LSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HMUC" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHANG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NGUOI_QLY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_SAN_PHAM" type="xs:int" />
      <xs:element minOccurs="0" name="KHOACH_HTHUC_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KHOACH_NGAY_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KY_HAN" type="xs:int" />
      <xs:element minOccurs="0" name="KY_HAN_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LAI_SUAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_QHAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGUOI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MUC_DICH_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGANH_KINH_TE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CHUYEN_QH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_DAO_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_GIA_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HIEU_LUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_LSU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHI_MO_HD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PHUONG_THUC_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TIEN_VAY" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TKHOAN_NHAN_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_HTHUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_SO_KY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TRGOC_SO_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_HTHUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_SO_KY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TRLAI_SO_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_GIAI_NGAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TD_HDTD_LSU" nillable="true" type="tns:TD_HDTD_LSU" />
  <xs:complexType name="ArrayOfKT_PHAN_HE_PLOAI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KT_PHAN_HE_PLOAI" nillable="true" type="tns:KT_PHAN_HE_PLOAI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKT_PHAN_HE_PLOAI" nillable="true" type="tns:ArrayOfKT_PHAN_HE_PLOAI" />
  <xs:complexType name="KT_PHAN_HE_PLOAI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PHAN_HE" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KY_HIEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PLOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PLOAI_BSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="KT_PHAN_HE_PLOAI" nillable="true" type="tns:KT_PHAN_HE_PLOAI" />
  <xs:complexType name="TD_SAN_PHAMTT">
    <xs:sequence>
      <xs:element minOccurs="0" name="BIEN_DO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LSUAT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CAN_CU_XET_QUA_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CSO_TINH_LAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_LSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHUONG_THUC_CHO_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PPHAP_TINH_LAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HIEU_LUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HIEU_LUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TAN_SUAT_DANH_GIA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TAN_SUAT_DANH_GIA_THEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TY_LE_LAI_QUA_HAN" nillable="true" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TD_SAN_PHAMTT" nillable="true" type="tns:TD_SAN_PHAMTT" />
</xs:schema>