Client/01.Presentation/Presentation.Process/Service References/PhiServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.Phi.Message" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Phi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.Phi.Message" minOccurs="0" name="request" nillable="true" type="q1:PhiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PhiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.Phi.Message" minOccurs="0" name="PhiResult" nillable="true" type="q2:PhiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinPhi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServices.Phi.Message" minOccurs="0" name="request" nillable="true" type="q3:PhiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinPhiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServices.Phi.Message" minOccurs="0" name="GetThongTinPhiResult" nillable="true" type="q4:PhiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>