Client/01.Presentation/Presentation.Process/Service References/PhiServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PhiService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.Phi.Message" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPhiService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="IPhiService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="IPhiService_Phi_InputMessage">
    <wsdl:part name="parameters" element="tns:Phi" />
  </wsdl:message>
  <wsdl:message name="IPhiService_Phi_OutputMessage">
    <wsdl:part name="parameters" element="tns:PhiResponse" />
  </wsdl:message>
  <wsdl:message name="IPhiService_GetThongTinPhi_InputMessage">
    <wsdl:part name="parameters" element="tns:GetThongTinPhi" />
  </wsdl:message>
  <wsdl:message name="IPhiService_GetThongTinPhi_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetThongTinPhiResponse" />
  </wsdl:message>
  <wsdl:portType name="IPhiService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhiService/returnHello" message="tns:IPhiService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhiService/returnHelloResponse" message="tns:IPhiService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Phi">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhiService/Phi" message="tns:IPhiService_Phi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhiService/PhiResponse" message="tns:IPhiService_Phi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetThongTinPhi">
      <wsdl:input wsaw:Action="http://tempuri.org/IPhiService/GetThongTinPhi" message="tns:IPhiService_GetThongTinPhi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPhiService/GetThongTinPhiResponse" message="tns:IPhiService_GetThongTinPhi_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PhiEndpoint" type="tns:IPhiService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/IPhiService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Phi">
      <soap:operation soapAction="http://tempuri.org/IPhiService/Phi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetThongTinPhi">
      <soap:operation soapAction="http://tempuri.org/IPhiService/GetThongTinPhi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PhiService">
    <wsdl:port name="PhiEndpoint" binding="tns:PhiEndpoint">
      <soap:address location="http://localhost:1001/PhiService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>