Client/01.Presentation/Presentation.Process/Service References/KhaiThacDuLieuServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.KhaiThacDuLieu.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhaiThacDuLieu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.KhaiThacDuLieu.Messages" minOccurs="0" name="request" nillable="true" type="q1:KhaiThacDuLieuRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhaiThacDuLieuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.KhaiThacDuLieu.Messages" minOccurs="0" name="KhaiThacDuLieuResult" nillable="true" type="q2:KhaiThacDuLieuResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>