Client/01.Presentation/Presentation.Process/Service References/DanhMucServiceRef/DanhMucService21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/DanhMucService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientMAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RequestSecurityKey" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClientMAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExceptionObject" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="ResponseDateTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResponseSecurityKey" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Utilities.Common" minOccurs="0" name="ResponseStatus" type="q1:ApplicationConstant.ResponseStatus" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
</xs:schema>