Client/01.Presentation/Presentation.Process/Service References/DanhMucServiceRef/DataModel.EntityFramework1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfDM_DON_VI_TKHOAN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_DON_VI_TKHOAN" nillable="true" type="tns:DM_DON_VI_TKHOAN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_DON_VI_TKHOAN" nillable="true" type="tns:ArrayOfDM_DON_VI_TKHOAN" />
  <xs:complexType name="DM_DON_VI_TKHOAN">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHI_NHANH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHU_TAI_KHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DVI" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAN_HANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TAI_KHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAI_KHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_DON_VI_TKHOAN" nillable="true" type="tns:DM_DON_VI_TKHOAN" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="DM_DON_VI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIEN_THOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDOC_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDOC_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDOC_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDOC_TEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GDOC_TEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DVI_CHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="KTTRUONG_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KTTRUONG_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KTTRUONG_MOBILE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KTTRUONG_TEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KTTRUONG_TEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_CHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HACH_TOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHNN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SO_THUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HDONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUON_TAO_DL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_DKKD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TAI_KHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_GDICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_NGAN_HANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WEBSITE" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_DON_VI" nillable="true" type="tns:DM_DON_VI" />
  <xs:complexType name="HT_NGAY_LVIEC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HDONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_LVIEC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_TRUOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_TTHEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_GDICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HT_NGAY_LVIEC" nillable="true" type="tns:HT_NGAY_LVIEC" />
  <xs:complexType name="ArrayOfDM_CUM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_CUM" nillable="true" type="tns:DM_CUM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_CUM" nillable="true" type="tns:ArrayOfDM_CUM" />
  <xs:complexType name="DM_CUM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CBO_QLY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CUM_TRUONG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DVI" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KVUC" type="xs:int" />
      <xs:element minOccurs="0" name="LDO_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_CUM_TRUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CBO_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CUM_TRUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KVUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_TLAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_CUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_CUM_TRUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTRANG_HDONG" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_CUM" nillable="true" type="tns:DM_CUM" />
  <xs:complexType name="ArrayOfDM_CUM_NS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_CUM_NS" nillable="true" type="tns:DM_CUM_NS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_CUM_NS" nillable="true" type="tns:ArrayOfDM_CUM_NS" />
  <xs:complexType name="DM_CUM_NS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CUM" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NS_HO_SO" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_HINH_NS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_QLY_CHINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_HSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NS_HO_SO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_CUM_NS" nillable="true" type="tns:DM_CUM_NS" />
  <xs:complexType name="DC_TSUAT_CUM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="GIA_TRI_DDANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CUM" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DVI" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KVUC" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TSUAT" type="xs:int" />
      <xs:element minOccurs="0" name="LHOP_DVI_TINH_TOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DC_TSUAT_CUM" nillable="true" type="tns:DC_TSUAT_CUM" />
  <xs:complexType name="DM_DIA_BAN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DBAN_CHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TINHTP" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_DBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_DBAN_CTIET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DBAN_CHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_DBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_DIA_BAN" nillable="true" type="tns:DM_DIA_BAN" />
  <xs:complexType name="VDM_DBAN_TTIN_KHAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DAN_SO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIEN_TICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DBAN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_KVUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DBAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DOI_TUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_DL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HO_CAN_NGHEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HO_NGHEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_BANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUOC_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUOC_VUNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="VDM_DBAN_TTIN_KHAC" nillable="true" type="tns:VDM_DBAN_TTIN_KHAC" />
  <xs:complexType name="DM_DTUONG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LOAI_DTUONG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TCHIEU" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TCHIEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TCHIEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MO_TA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_DTUONG" nillable="true" type="tns:DM_DTUONG" />
  <xs:complexType name="DM_LOAI_DTUONG">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MO_TA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUON_TAO_DL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_LOAI_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_LOAI_DTUONG" nillable="true" type="tns:DM_LOAI_DTUONG" />
  <xs:complexType name="DM_DMUC_GTRI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DMUC_LOAI" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DMUC_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NNGU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_DMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_DMUC_GTRI" nillable="true" type="tns:DM_DMUC_GTRI" />
  <xs:complexType name="DM_DMUC_LOAI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DMUC_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NNGU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUON_TAO_DL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_DMUC_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_DMUC_LOAI" nillable="true" type="tns:DM_DMUC_LOAI" />
  <xs:complexType name="ArrayOfDM_KHU_VUC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_KHU_VUC" nillable="true" type="tns:DM_KHU_VUC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_KHU_VUC" nillable="true" type="tns:ArrayOfDM_KHU_VUC" />
  <xs:complexType name="DM_KHU_VUC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CBO_QLY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DVI" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HUYEN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TINH" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_XA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LDO_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CBO_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KVUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_KVUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTRANG_HDONG" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_KHU_VUC" nillable="true" type="tns:DM_KHU_VUC" />
  <xs:complexType name="ArrayOfDM_KHU_VUC_NS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_KHU_VUC_NS" nillable="true" type="tns:DM_KHU_VUC_NS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_KHU_VUC_NS" nillable="true" type="tns:ArrayOfDM_KHU_VUC_NS" />
  <xs:complexType name="DM_KHU_VUC_NS">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHU_VUC" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NS_HO_SO" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_QLY_CHINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHU_VUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_HSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NS_HO_SO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_KHU_VUC_NS" nillable="true" type="tns:DM_KHU_VUC_NS" />
  <xs:complexType name="ArrayOfKH_KHANG_HSO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KH_KHANG_HSO" nillable="true" type="tns:KH_KHANG_HSO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKH_KHANG_HSO" nillable="true" type="tns:ArrayOfKH_KHANG_HSO" />
  <xs:complexType name="KH_KHANG_HSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHU_KY_VAY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DDAN_HINH_ANH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_CHUC_VU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GIOI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_NGAY_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_NGAY_HET_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_NOI_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_SO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_HO_TEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_DAN_TOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_LHINH_CTAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_QUOC_TICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TDO_HVAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TDO_VHOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TGIAN_CTAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TON_GIAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TTRANG_HNHAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_VTRO_GDINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_NGAY_SINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_NOI_SINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_SO_DDONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_SO_DTHOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_SO_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_PHUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_QUAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_TODP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_VUNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_WEBSITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_MA_SO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_NGAY_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_NGAY_HET_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_NOI_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GHI_CHU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DON_VI" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHU_VUC" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NHOM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TTHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_DVI_TTHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_HINH_KT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_MPA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGANH_KT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGHE_NGHIEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_QUAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SO_THUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TODP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TRANG_NGHEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTHI_NTHON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTHI_NTHON_HTAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTRANG_CUTRU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTRANG_GDINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TVIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_VUNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CONG_NHAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_THAM_GIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_THAM_GIA_MPA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_THANH_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NV_LOAI_NVON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NV_MA_HOP_DONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_DDONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_DTHOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HO_KHAU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HO_NGHEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TAI_KHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_BAN_DIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_BO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_GDICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_NGAN_HANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TONG_TAI_SAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTIN_KHAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VON_DIEU_LE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WEBSITE" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="KH_KHANG_HSO" nillable="true" type="tns:KH_KHANG_HSO" />
  <xs:complexType name="ArrayOfKH_KHANG_HSO_LSU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KH_KHANG_HSO_LSU" nillable="true" type="tns:KH_KHANG_HSO_LSU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKH_KHANG_HSO_LSU" nillable="true" type="tns:ArrayOfKH_KHANG_HSO_LSU" />
  <xs:complexType name="KH_KHANG_HSO_LSU">
    <xs:sequence>
      <xs:element minOccurs="0" name="CHU_KY_VAY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DDAN_HINH_ANH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_CHUC_VU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GIOI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_NGAY_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_NGAY_HET_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_NOI_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_GTLQ_SO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_HO_TEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_DAN_TOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_LHINH_CTAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_QUOC_TICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TDO_HVAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TDO_VHOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TGIAN_CTAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TON_GIAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_TTRANG_HNHAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_MA_VTRO_GDINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_NGAY_SINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_NOI_SINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_SO_DDONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_SO_DTHOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_SO_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_PHUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_QUAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_TODP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_TTRU_MA_VUNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DD_WEBSITE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_MA_SO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_NGAY_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_NGAY_HET_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DKKD_NOI_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GHI_CHU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DON_VI" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHANG_HSO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHU_VUC" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NHOM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TTHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_DVI_TTHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_HINH_KT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_MPA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGANH_KT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGHE_NGHIEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_QUAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SO_THUE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TODP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TRANG_NGHEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTHI_NTHON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTHI_NTHON_HTAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTRANG_CUTRU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTRANG_GDINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TVIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_VUNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CONG_NHAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_LSU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_THAM_GIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_THAM_GIA_MPA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_THANH_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NV_LOAI_NVON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NV_MA_HOP_DONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_DDONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_DTHOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_FAX" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HO_KHAU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HO_NGHEO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TAI_KHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_BAN_DIA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_BO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_GDICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_NGAN_HANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TONG_TAI_SAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTIN_KHAC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VON_DIEU_LE" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="WEBSITE" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="KH_KHANG_HSO_LSU" nillable="true" type="tns:KH_KHANG_HSO_LSU" />
  <xs:complexType name="ArrayOfKH_KHANG_NHOM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KH_KHANG_NHOM" nillable="true" type="tns:KH_KHANG_NHOM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKH_KHANG_NHOM" nillable="true" type="tns:ArrayOfKH_KHANG_NHOM" />
  <xs:complexType name="KH_KHANG_NHOM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="FN001" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN002" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN003" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN004" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN005" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN006" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN007" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN008" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN009" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FN010" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHANG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NHOM" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_NHOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="KH_KHANG_NHOM" nillable="true" type="tns:KH_KHANG_NHOM" />
  <xs:complexType name="DM_NHOM">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CBO_QLY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CUM" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DVI" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KVUC" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NHOM_CHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NHOM_TRUONG" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LDO_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CBO_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KVUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_NHOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM_CHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM_TRUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HOP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_TLAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_NHOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTRANG_HDONG" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_NHOM" nillable="true" type="tns:DM_NHOM" />
  <xs:complexType name="DM_NHOM_NGUOI_BLANH">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DAN_TOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DIA_CHI_THT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GIOI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HO_TEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NHOM" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGANH_NGHE_THT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_SINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGHE_NGHIEP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOI_CAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_CMND" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_DIEN_THOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HO_KHAU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TONG_SO_TVIEN_THT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_NHOM_NGUOI_BLANH" nillable="true" type="tns:DM_NHOM_NGUOI_BLANH" />
  <xs:complexType name="ArrayOfDM_NHOM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_NHOM" nillable="true" type="tns:DM_NHOM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_NHOM" nillable="true" type="tns:ArrayOfDM_NHOM" />
  <xs:complexType name="DM_PHAN_HE_GD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="HACH_TOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PHAN_HE" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_GDICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NNGU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TVAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TVAN_CTIET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTHUC_IN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEN_LOAI_GDICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_PHAN_HE_GD" nillable="true" type="tns:DM_PHAN_HE_GD" />
  <xs:complexType name="DM_PHAN_HE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="HACH_TOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PHAN_HE_CHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NNGU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE_CHA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TVAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEN_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_PHAN_HE" nillable="true" type="tns:DM_PHAN_HE" />
  <xs:complexType name="DM_TINH_TP">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_VUNG_MIEN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_VUNG_MIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TINHTP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_TINH_TP" nillable="true" type="tns:DM_TINH_TP" />
  <xs:complexType name="DM_VUNG_MIEN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_VMIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_VUNG_MIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_VUNG_MIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_VUNG_MIEN" nillable="true" type="tns:DM_VUNG_MIEN" />
  <xs:complexType name="ArrayOfDC_TSUAT_CUM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DC_TSUAT_CUM" nillable="true" type="tns:DC_TSUAT_CUM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDC_TSUAT_CUM" nillable="true" type="tns:ArrayOfDC_TSUAT_CUM" />
  <xs:complexType name="DC_TSUAT">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="GIA_TRI_DDANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LHOP_DVI_TINH_TOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSUAT_LAN" type="xs:int" />
      <xs:element minOccurs="0" name="TSUAT_TGIAN_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TSUAT_TGIAN_SLUONG" type="xs:int" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DC_TSUAT" nillable="true" type="tns:DC_TSUAT" />
  <xs:complexType name="ArrayOfDM_TCTD_TTIN_KHAC">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_TCTD_TTIN_KHAC" nillable="true" type="tns:DM_TCTD_TTIN_KHAC" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_TCTD_TTIN_KHAC" nillable="true" type="tns:ArrayOfDM_TCTD_TTIN_KHAC" />
  <xs:complexType name="DM_TCTD_TTIN_KHAC">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="GTRI_TTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TCTD" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_TTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TCTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MO_TA" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_TCTD_TTIN_KHAC" nillable="true" type="tns:DM_TCTD_TTIN_KHAC" />
  <xs:complexType name="ArrayOfDM_TCTD_TKHOAN">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DM_TCTD_TKHOAN" nillable="true" type="tns:DM_TCTD_TKHOAN" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDM_TCTD_TKHOAN" nillable="true" type="tns:ArrayOfDM_TCTD_TKHOAN" />
  <xs:complexType name="DM_TCTD_TKHOAN">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PLOAI" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TCTD" type="xs:int" />
      <xs:element minOccurs="0" name="MA_PLOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TCTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TKHOAN" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_TCTD_TKHOAN" nillable="true" type="tns:DM_TCTD_TKHOAN" />
  <xs:complexType name="DM_TCTD">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIA_CHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GHI_CHU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_TCTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TCTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HET_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HLUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HOP_DONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TCTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="DM_TCTD" nillable="true" type="tns:DM_TCTD" />
</xs:schema>