Client/01.Presentation/Presentation.Process/Service References/DanhMucServiceRef/service3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDonVi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="donviRequest" nillable="true" type="q1:DMDonViRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDonViResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuDonViResult" nillable="true" type="q2:DMDonViResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDonViTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="donviRequest" nillable="true" type="q3:DMDonViRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDonViTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListDonViTheoIDResult" nillable="true" type="q4:DMDonViResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDonVi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="donviRequest" nillable="true" type="q5:DMDonViRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDonViResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinDonViResult" nillable="true" type="q6:DMDonViResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDonVi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="donviRequest" nillable="true" type="q7:DMDonViRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDonViResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinDonViResult" nillable="true" type="q8:DMDonViResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadImageFormFile">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="donviRequest" nillable="true" type="q9:DMDonViRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoadImageFormFileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LoadImageFormFileResult" nillable="true" type="q10:DMDonViResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonViChaByMaDonVi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q11:DMDonViRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonViChaByMaDonViResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetDonViChaByMaDonViResult" nillable="true" type="q12:DMDonViResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonViByMaCum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="donviRequest" nillable="true" type="q13:DMDonViRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDonViByMaCumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetDonViByMaCumResult" nillable="true" type="q14:DMDonViResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinCum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="donviRequest" nillable="true" type="q15:DMCumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinCumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinCumResult" nillable="true" type="q16:DMCumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuCum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q17:DMCumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuCumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuCumResult" nillable="true" type="q18:DMCumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinCum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q19:DMCumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinCumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinCumResult" nillable="true" type="q20:DMCumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListCumTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q21:DMCumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListCumTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListCumTheoIDResult" nillable="true" type="q22:DMCumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cum02">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q23:DMCumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Cum02Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="Cum02Result" nillable="true" type="q24:DMCumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDiaBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q25:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDiaBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuDiaBanResult" nillable="true" type="q26:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDiaBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q27:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDiaBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinDiaBanResult" nillable="true" type="q28:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDiaBan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q29:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDiaBanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinDiaBanResult" nillable="true" type="q30:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDiaBanTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q31:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDiaBanTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListDiaBanTheoIDResult" nillable="true" type="q32:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDiaBan01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q33:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDiaBan01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuDiaBan01Result" nillable="true" type="q34:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDiaBan01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q35:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDiaBan01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinDiaBan01Result" nillable="true" type="q36:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDiaBan01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q37:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDiaBan01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinDiaBan01Result" nillable="true" type="q38:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDiaBanTheoID01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q39:DMDiaBanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDiaBanTheoID01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListDiaBanTheoID01Result" nillable="true" type="q40:DMDiaBanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDoiTuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q41:DMDoiTuongRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDoiTuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuDoiTuongResult" nillable="true" type="q42:DMDoiTuongResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDoiTuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q43:DMDoiTuongRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDoiTuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinDoiTuongResult" nillable="true" type="q44:DMDoiTuongResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDoiTuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q45:DMDoiTuongRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDoiTuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinDoiTuongResult" nillable="true" type="q46:DMDoiTuongResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDoiTuongTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q47:DMDoiTuongRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDoiTuongTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListDoiTuongTheoIDResult" nillable="true" type="q48:DMDoiTuongResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDoiTuongLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q49:DMDoiTuongLoaiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDoiTuongLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuDoiTuongLoaiResult" nillable="true" type="q50:DMDoiTuongLoaiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDoiTuongLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q51:DMDoiTuongLoaiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDoiTuongLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinDoiTuongLoaiResult" nillable="true" type="q52:DMDoiTuongLoaiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDoiTuongLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q53:DMDoiTuongLoaiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDoiTuongLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinDoiTuongLoaiResult" nillable="true" type="q54:DMDoiTuongLoaiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDoiTuongLoaiTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q55:DMDoiTuongLoaiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDoiTuongLoaiTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListDoiTuongLoaiTheoIDResult" nillable="true" type="q56:DMDoiTuongLoaiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDungChung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q57:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDungChungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuDungChungResult" nillable="true" type="q58:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDungChung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q59:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDungChungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinDungChungResult" nillable="true" type="q60:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDungChung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q61:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDungChungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinDungChungResult" nillable="true" type="q62:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDungChungTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q63:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDungChungTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListDungChungTheoIDResult" nillable="true" type="q64:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDungChungLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q65:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDungChungLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LayDungChungLoaiResult" nillable="true" type="q66:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDungChungLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q67:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuDungChungLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuDungChungLoaiResult" nillable="true" type="q68:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDungChungLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q69:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinDungChungLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinDungChungLoaiResult" nillable="true" type="q70:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDungChungLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q71:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinDungChungLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinDungChungLoaiResult" nillable="true" type="q72:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDungChungLoaiTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q73:DMDungChungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListDungChungLoaiTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListDungChungLoaiTheoIDResult" nillable="true" type="q74:DMDungChungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhuVuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q75:DMKhuVucRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhuVucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="KhuVucResult" nillable="true" type="q76:DMKhuVucResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinKhuVuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q77:DMKhuVucRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinKhuVucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinKhuVucResult" nillable="true" type="q78:DMKhuVucResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinKhuVucTheoDonVi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q79:DMKhuVucRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinKhuVucTheoDonViResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinKhuVucTheoDonViResult" nillable="true" type="q80:DMKhuVucResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhuVuc02">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q81:DMKhuVucRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhuVuc02Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="KhuVuc02Result" nillable="true" type="q82:DMKhuVucResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuNhom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q83:DMNhomRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuNhomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuNhomResult" nillable="true" type="q84:DMNhomResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinNhom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q85:DMNhomRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinNhomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinNhomResult" nillable="true" type="q86:DMNhomResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinNhom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q87:DMNhomRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinNhomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinNhomResult" nillable="true" type="q88:DMNhomResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListNhomTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q89:DMNhomRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListNhomTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListNhomTheoIDResult" nillable="true" type="q90:DMNhomResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhom02">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q91:DMNhomRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Nhom02Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="Nhom02Result" nillable="true" type="q92:DMNhomResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuPhanHeGD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q93:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuPhanHeGDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuPhanHeGDResult" nillable="true" type="q94:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinPhanHeGD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q95:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinPhanHeGDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinPhanHeGDResult" nillable="true" type="q96:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinPhanHeGD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q97:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinPhanHeGDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinPhanHeGDResult" nillable="true" type="q98:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListPhanHeGDTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q99:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListPhanHeGDTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q100="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListPhanHeGDTheoIDResult" nillable="true" type="q100:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayPhanHe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q101="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q101:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayPhanHeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q102="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LayPhanHeResult" nillable="true" type="q102:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuPhanHe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q103="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q103:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuPhanHeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q104="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuPhanHeResult" nillable="true" type="q104:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinPhanHe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q105="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q105:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinPhanHeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q106="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinPhanHeResult" nillable="true" type="q106:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinPhanHe">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q107="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q107:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinPhanHeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q108="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinPhanHeResult" nillable="true" type="q108:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListPhanHeTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q109="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q109:DMPhanHeGDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListPhanHeTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q110="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListPhanHeTheoIDResult" nillable="true" type="q110:DMPhanHeGDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuTinhTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q111="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q111:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuTinhTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q112="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuTinhTPResult" nillable="true" type="q112:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinTinhTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q113="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q113:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinTinhTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q114="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinTinhTPResult" nillable="true" type="q114:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinTinhTP">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q115="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q115:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinTinhTPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q116="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinTinhTPResult" nillable="true" type="q116:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListTinhTPTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q117="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q117:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListTinhTPTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q118="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListTinhTPTheoIDResult" nillable="true" type="q118:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuTinhTP01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q119="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q119:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuTinhTP01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q120="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuTinhTP01Result" nillable="true" type="q120:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinTinhTP01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q121="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q121:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinTinhTP01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q122="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinTinhTP01Result" nillable="true" type="q122:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinTinhTP01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q123="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q123:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinTinhTP01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q124="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinTinhTP01Result" nillable="true" type="q124:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListTinhTPTheoID01">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q125="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q125:DMTinhTPRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListTinhTPTheoID01Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q126="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListTinhTPTheoID01Result" nillable="true" type="q126:DMTinhTPResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuVungMien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q127="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q127:DMVungMienRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuVungMienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q128="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuVungMienResult" nillable="true" type="q128:DMVungMienResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinVungMien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q129="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q129:DMVungMienRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinVungMienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q130="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinVungMienResult" nillable="true" type="q130:DMVungMienResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinVungMien">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q131="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q131:DMVungMienRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinVungMienResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q132="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinVungMienResult" nillable="true" type="q132:DMVungMienResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListVungMienTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q133="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q133:DMVungMienRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListVungMienTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q134="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListVungMienTheoIDResult" nillable="true" type="q134:DMVungMienResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTanSuatbyID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q135="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q135:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTanSuatbyIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q136="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetTanSuatbyIDResult" nillable="true" type="q136:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTanSuatbyMaDonVi">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q137="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q137:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTanSuatbyMaDonViResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q138="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetTanSuatbyMaDonViResult" nillable="true" type="q138:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTanSuatbyIdCum">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q139="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q139:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTanSuatbyIdCumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q140="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetTanSuatbyIdCumResult" nillable="true" type="q140:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuTanSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q141="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q141:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuTanSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q142="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="LuuTanSuatResult" nillable="true" type="q142:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinTanSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q143="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q143:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SuaThongTinTanSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q144="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="SuaThongTinTanSuatResult" nillable="true" type="q144:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinTanSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q145="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q145:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetThongTinTanSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q146="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="GetThongTinTanSuatResult" nillable="true" type="q146:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatTanSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q147="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q147:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatTanSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q148="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="CapNhatTanSuatResult" nillable="true" type="q148:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListTanSuatTheoID">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q149="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q149:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaListTanSuatTheoIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q150="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="XoaListTanSuatTheoIDResult" nillable="true" type="q150:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuyetTanSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q151="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q151:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DuyetTanSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q152="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="DuyetTanSuatResult" nillable="true" type="q152:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThoaiDuyetTanSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q153="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q153:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThoaiDuyetTanSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q154="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="ThoaiDuyetTanSuatResult" nillable="true" type="q154:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TuChoiTanSuat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q155="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q155:DCTanSuatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TuChoiTanSuatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q156="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="TuChoiTanSuatResult" nillable="true" type="q156:DCTanSuatResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToChucTinDung">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q157="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="request" nillable="true" type="q157:DMToChucTinDungRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToChucTinDungResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q158="http://schemas.datacontract.org/2004/07/CommunicationServices.DanhMuc.Messages" minOccurs="0" name="ToChucTinDungResult" nillable="true" type="q158:DMToChucTinDungResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>