Client/01.Presentation/Presentation.Process/Service References/TaiSanServiceRef/TaiSanService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/TaiSanService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="functionName">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q1:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="functionNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="functionNameResult" nillable="true" type="q2:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomTaiSanCT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q3:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NhomTaiSanCTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="NhomTaiSanCTResult" nillable="true" type="q4:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuanLyTaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q5:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QuanLyTaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="QuanLyTaiSanResult" nillable="true" type="q6:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhMucLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q7:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhMucLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="LayDanhMucLoaiResult" nillable="true" type="q8:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhMucTheoLoai">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q9:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayDanhMucTheoLoaiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="LayDanhMucTheoLoaiResult" nillable="true" type="q10:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayNhomTaiSanNhoNhat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q11:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayNhomTaiSanNhoNhatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="LayNhomTaiSanNhoNhatResult" nillable="true" type="q12:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BanGiaoTaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q13:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BanGiaoTaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="BanGiaoTaiSanResult" nillable="true" type="q14:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NangCapTaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q15:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NangCapTaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="NangCapTaiSanResult" nillable="true" type="q16:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhGiaTaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q17:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DanhGiaTaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="DanhGiaTaiSanResult" nillable="true" type="q18:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamTaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q19:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GiamTaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="GiamTaiSanResult" nillable="true" type="q20:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhauHaoTaiSan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q21:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KhauHaoTaiSanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="KhauHaoTaiSanResult" nillable="true" type="q22:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayThongTinGiaoDich">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="request" nillable="true" type="q23:TaiSanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LayThongTinGiaoDichResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CommunicationServices.TaiSan.Messages" minOccurs="0" name="LayThongTinGiaoDichResult" nillable="true" type="q24:TaiSanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>