Client/01.Presentation/Presentation.Process/Service References/TaiSanServiceRef/TaiSanService53.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessServices.Utilities.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessServices.Utilities.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBS_ResponseDetail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_ResponseDetail" nillable="true" type="tns:BS_ResponseDetail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_ResponseDetail" nillable="true" type="tns:ArrayOfBS_ResponseDetail" />
  <xs:complexType name="BS_ResponseDetail">
    <xs:sequence>
      <xs:element minOccurs="0" name="Detail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Object" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Operation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_ResponseDetail" nillable="true" type="tns:BS_ResponseDetail" />
</xs:schema>