Client/01.Presentation/Presentation.Process/Service References/BaoCaoServiceRef/DataModel.EntityFramework1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="HT_BAOCAO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DATA_QUERY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_BAOCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_DIEUKIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_EXPORT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_BAOCAO" type="xs:int" />
      <xs:element minOccurs="0" name="ID_BAOCAO_CHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="KY_BAOCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_BAOCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_FILE_BAOCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_BAOCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NNGU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODULE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NHOM_DIEUKIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHAN_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TTU" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEN_BAOCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HT_BAOCAO" nillable="true" type="tns:HT_BAOCAO" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="ArrayOfBC_BCTK_DU_LIEU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BC_BCTK_DU_LIEU" nillable="true" type="tns:BC_BCTK_DU_LIEU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBC_BCTK_DU_LIEU" nillable="true" type="tns:ArrayOfBC_BCTK_DU_LIEU" />
  <xs:complexType name="BC_BCTK_DU_LIEU">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CHI_TIEU" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_MAU_BIEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_DU_LIEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TIEN" type="xs:decimal" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BC_BCTK_DU_LIEU" nillable="true" type="tns:BC_BCTK_DU_LIEU" />
  <xs:complexType name="ArrayOfHT_BAOCAO_TSO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HT_BAOCAO_TSO" nillable="true" type="tns:HT_BAOCAO_TSO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHT_BAOCAO_TSO" nillable="true" type="tns:ArrayOfHT_BAOCAO_TSO" />
  <xs:complexType name="HT_BAOCAO_TSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DATA_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GTRI_TSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_BAOCAO" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_TSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_BAOCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NNGU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TTU" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEN_TSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HT_BAOCAO_TSO" nillable="true" type="tns:HT_BAOCAO_TSO" />
  <xs:complexType name="BC_BIEUMAU">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DINH_KY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DS_DS_KIEU_DL_TTINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DS_DULIEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DS_THAMSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DS_TTINH_HTHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FILE_BCAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_BAOCAO" type="xs:int" />
      <xs:element minOccurs="0" name="MA_BIEUMAU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MO_TA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SQL_THUCTHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_BIEUMAU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="BC_BIEUMAU" nillable="true" type="tns:BC_BIEUMAU" />
  <xs:complexType name="HT_CNANG">
    <xs:sequence>
      <xs:element minOccurs="0" name="BTUONG_GTRI" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="BTUONG_TEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAP_PHE_DUYET" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CNANG_CHA" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_PHUONG_THUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_CNANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NNGU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TRAN_PHE_DUYET" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODULE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NHOM_PHUONG_THUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHAN_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TTU" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TEN_CNANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_PHUONG_THUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HT_CNANG" nillable="true" type="tns:HT_CNANG" />
  <xs:complexType name="HT_CNANG_TSO">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="GIA_TRI_TSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CNANG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_TTINH" type="xs:int" />
      <xs:element minOccurs="0" name="MA_CNANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_TTINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEN_TSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="HT_CNANG_TSO" nillable="true" type="tns:HT_CNANG_TSO" />
  <xs:complexType name="ArrayOfHT_CNANG">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HT_CNANG" nillable="true" type="tns:HT_CNANG" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHT_CNANG" nillable="true" type="tns:ArrayOfHT_CNANG" />
</xs:schema>