Client/01.Presentation/Presentation.AspNet/Presentation.WebClient/Service References/WebProcessService/WebProcessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MessageProcess">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MessageProcessResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MessageProcessResult" type="xs:long" />
        <xs:element minOccurs="0" name="pv_strMessage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>