Client/01.Presentation/Presentation.Process/Service References/SMSServiceRef/SMSService7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:1001/SMSService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.SMS.Messages" />
  <xs:element name="SMS">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.SMS.Messages" minOccurs="0" name="request" nillable="true" type="q1:SMSRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SMSResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.SMS.Messages" minOccurs="0" name="SMSResult" nillable="true" type="q2:SMSResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>