Client/01.Presentation/Presentation.Process/Service References/TruyVanServiceRef/BusinessServices.TruyVan.DTO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessServices.TruyVan.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessServices.TruyVan.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ArrayOfCSO_TSO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CSO_TSO" nillable="true" type="tns:CSO_TSO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCSO_TSO" nillable="true" type="tns:ArrayOfCSO_TSO" />
  <xs:complexType name="CSO_TSO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="LIST_DIEU_KIEN" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="MA_CSO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CSO_TSO" nillable="true" type="tns:CSO_TSO" />
</xs:schema>