Client/01.Presentation/Presentation.Process/Service References/TruyVanServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TruyVanService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BusinessServices.TruyVan.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITruyVanService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_TruyVan_InputMessage">
    <wsdl:part name="parameters" element="tns:TruyVan" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_TruyVan_OutputMessage">
    <wsdl:part name="parameters" element="tns:TruyVanResponse" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_TruyVanUDTT_InputMessage">
    <wsdl:part name="parameters" element="tns:TruyVanUDTT" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_TruyVanUDTT_OutputMessage">
    <wsdl:part name="parameters" element="tns:TruyVanUDTTResponse" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_TruyVanMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:TruyVanMessage" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_TruyVanMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:TruyVanMessageResponse" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_getDanhSachInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:getDanhSachInformation" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_getDanhSachInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDanhSachInformationResponse" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_getDanhSachTheoListCSO_InputMessage">
    <wsdl:part name="parameters" element="tns:getDanhSachTheoListCSO" />
  </wsdl:message>
  <wsdl:message name="ITruyVanService_getDanhSachTheoListCSO_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDanhSachTheoListCSOResponse" />
  </wsdl:message>
  <wsdl:portType name="ITruyVanService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruyVanService/returnHello" message="tns:ITruyVanService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruyVanService/returnHelloResponse" message="tns:ITruyVanService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TruyVan">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruyVanService/TruyVan" message="tns:ITruyVanService_TruyVan_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruyVanService/TruyVanResponse" message="tns:ITruyVanService_TruyVan_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TruyVanUDTT">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruyVanService/TruyVanUDTT" message="tns:ITruyVanService_TruyVanUDTT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruyVanService/TruyVanUDTTResponse" message="tns:ITruyVanService_TruyVanUDTT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TruyVanMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruyVanService/TruyVanMessage" message="tns:ITruyVanService_TruyVanMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruyVanService/TruyVanMessageResponse" message="tns:ITruyVanService_TruyVanMessage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDanhSachInformation">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruyVanService/getDanhSachInformation" message="tns:ITruyVanService_getDanhSachInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruyVanService/getDanhSachInformationResponse" message="tns:ITruyVanService_getDanhSachInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDanhSachTheoListCSO">
      <wsdl:input wsaw:Action="http://tempuri.org/ITruyVanService/getDanhSachTheoListCSO" message="tns:ITruyVanService_getDanhSachTheoListCSO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITruyVanService/getDanhSachTheoListCSOResponse" message="tns:ITruyVanService_getDanhSachTheoListCSO_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TruyVanEndpoint" type="tns:ITruyVanService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/ITruyVanService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruyVan">
      <soap:operation soapAction="http://tempuri.org/ITruyVanService/TruyVan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruyVanUDTT">
      <soap:operation soapAction="http://tempuri.org/ITruyVanService/TruyVanUDTT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TruyVanMessage">
      <soap:operation soapAction="http://tempuri.org/ITruyVanService/TruyVanMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDanhSachInformation">
      <soap:operation soapAction="http://tempuri.org/ITruyVanService/getDanhSachInformation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDanhSachTheoListCSO">
      <soap:operation soapAction="http://tempuri.org/ITruyVanService/getDanhSachTheoListCSO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TruyVanService">
    <wsdl:port name="TruyVanEndpoint" binding="tns:TruyVanEndpoint">
      <soap:address location="http://localhost:1001/TruyVanService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>