Client/01.Presentation/Presentation.Process/Service References/TruyVanServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruyVan">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inquiryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruyVanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TruyVanResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruyVanUDTT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="inquiryName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruyVanUDTTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TruyVanUDTTResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruyVanMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" minOccurs="0" name="request" nillable="true" type="q1:TruyVanRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TruyVanMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" minOccurs="0" name="TruyVanMessageResult" nillable="true" type="q2:TruyVanResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDanhSachInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" minOccurs="0" name="request" nillable="true" type="q3:DanhSachRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDanhSachInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" minOccurs="0" name="getDanhSachInformationResult" nillable="true" type="q4:DanhSachResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDanhSachTheoListCSO">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" minOccurs="0" name="request" nillable="true" type="q5:DanhSachRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDanhSachTheoListCSOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommunicationServices.TruyVan.Messages" minOccurs="0" name="getDanhSachTheoListCSOResult" nillable="true" type="q6:DanhSachResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>