Client/01.Presentation/Presentation.Process/Service References/KhachHangServiceRef/BusinessServices.Utilities.DTO1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessServices.Utilities.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessServices.Utilities.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBS_FileObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BS_FileObject" nillable="true" type="tns:BS_FileObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBS_FileObject" nillable="true" type="tns:ArrayOfBS_FileObject" />
  <xs:complexType name="BS_FileObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="FileData" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="FileFormat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FileName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BS_FileObject" nillable="true" type="tns:BS_FileObject" />
</xs:schema>