Client/01.Presentation/Presentation.Process/Service References/ZATestAppServiceRef/CommunicationServices.ZATestApp.Messages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommunicationServices.ZATestApp.Messages" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommunicationServices.ZATestApp.Messages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
  <xs:complexType name="DataTransferRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q1:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="logo1" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="logo2" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataTransferRequest" nillable="true" type="tns:DataTransferRequest" />
  <xs:complexType name="DataTransferResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" base="q2:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="result" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DataTransferResponse" nillable="true" type="tns:DataTransferResponse" />
  <xs:complexType name="DataTransferRequestMessage">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="listLogo" nillable="true" type="q3:ArrayOfStream" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="logo1" nillable="true" type="q4:Stream" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System.IO" minOccurs="0" name="logo2" nillable="true" type="q5:Stream" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTransferRequestMessage" nillable="true" type="tns:DataTransferRequestMessage" />
  <xs:complexType name="DataTransferResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="desc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="result" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataTransferResponseMessage" nillable="true" type="tns:DataTransferResponseMessage" />
</xs:schema>