Client/01.Presentation/Presentation.Process/Service References/ZATestAppServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ZATestAppService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Utilities.Common" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.ZATestApp.Messages" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CommunicationMessages.Base.MessageBases" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.IO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IZATestAppService_returnHello_InputMessage">
    <wsdl:part name="parameters" element="tns:returnHello" />
  </wsdl:message>
  <wsdl:message name="IZATestAppService_returnHello_OutputMessage">
    <wsdl:part name="parameters" element="tns:returnHelloResponse" />
  </wsdl:message>
  <wsdl:message name="InMessage" />
  <wsdl:message name="InMessage_Headers">
    <wsdl:part name="ClientIP" element="tns:ClientIP" />
    <wsdl:part name="ClientMAC" element="tns:ClientMAC" />
    <wsdl:part name="RequestDateTime" element="tns:RequestDateTime" />
    <wsdl:part name="RequestId" element="tns:RequestId" />
    <wsdl:part name="RequestSecurityKey" element="tns:RequestSecurityKey" />
    <wsdl:part name="SessionId" element="tns:SessionId" />
    <wsdl:part name="UserName" element="tns:UserName" />
    <wsdl:part name="code" element="tns:code" />
    <wsdl:part name="name" element="tns:name" />
  </wsdl:message>
  <wsdl:message name="OutMessage" />
  <wsdl:message name="OutMessage_Headers">
    <wsdl:part name="ClientIP" element="tns:ClientIP" />
    <wsdl:part name="ClientMAC" element="tns:ClientMAC" />
    <wsdl:part name="ExceptionObject" element="tns:ExceptionObject" />
    <wsdl:part name="ResponseDateTime" element="tns:ResponseDateTime" />
    <wsdl:part name="ResponseId" element="tns:ResponseId" />
    <wsdl:part name="ResponseMessage" element="tns:ResponseMessage" />
    <wsdl:part name="ResponseSecurityKey" element="tns:ResponseSecurityKey" />
    <wsdl:part name="ResponseStatus" element="tns:ResponseStatus" />
    <wsdl:part name="UserName" element="tns:UserName" />
    <wsdl:part name="desc" element="tns:desc" />
    <wsdl:part name="result" element="tns:result" />
  </wsdl:message>
  <wsdl:message name="IZATestAppService_processDataTransfer_InputMessage">
    <wsdl:part name="parameters" element="tns:processDataTransfer" />
  </wsdl:message>
  <wsdl:message name="IZATestAppService_processDataTransfer_OutputMessage">
    <wsdl:part name="parameters" element="tns:processDataTransferResponse" />
  </wsdl:message>
  <wsdl:message name="IZATestAppService_processDataTransferMessage_InputMessage">
    <wsdl:part name="parameters" element="tns:processDataTransferMessage" />
  </wsdl:message>
  <wsdl:message name="IZATestAppService_processDataTransferMessage_OutputMessage">
    <wsdl:part name="parameters" element="tns:processDataTransferMessageResponse" />
  </wsdl:message>
  <wsdl:portType name="IZATestAppService">
    <wsdl:operation name="returnHello">
      <wsdl:input wsaw:Action="http://tempuri.org/IZATestAppService/returnHello" message="tns:IZATestAppService_returnHello_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZATestAppService/returnHelloResponse" message="tns:IZATestAppService_returnHello_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IZATestAppService/processMessage" name="InMessage" message="tns:InMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZATestAppService/processMessageResponse" name="OutMessage" message="tns:OutMessage" />
    </wsdl:operation>
    <wsdl:operation name="processDataTransfer">
      <wsdl:input wsaw:Action="http://tempuri.org/IZATestAppService/processDataTransfer" message="tns:IZATestAppService_processDataTransfer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZATestAppService/processDataTransferResponse" message="tns:IZATestAppService_processDataTransfer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="processDataTransferMessage">
      <wsdl:input wsaw:Action="http://tempuri.org/IZATestAppService/processDataTransferMessage" message="tns:IZATestAppService_processDataTransferMessage_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IZATestAppService/processDataTransferMessageResponse" message="tns:IZATestAppService_processDataTransferMessage_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZAMainTestEndpoint" type="tns:IZATestAppService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="returnHello">
      <soap:operation soapAction="http://tempuri.org/IZATestAppService/returnHello" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processMessage">
      <soap:operation soapAction="http://tempuri.org/IZATestAppService/processMessage" style="document" />
      <wsdl:input name="InMessage">
        <soap:header message="tns:InMessage_Headers" part="ClientIP" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="ClientMAC" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="RequestDateTime" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="RequestId" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="RequestSecurityKey" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="SessionId" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="UserName" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="code" use="literal" />
        <soap:header message="tns:InMessage_Headers" part="name" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="OutMessage">
        <soap:header message="tns:OutMessage_Headers" part="ClientIP" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="ClientMAC" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="ExceptionObject" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="ResponseDateTime" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="ResponseId" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="ResponseMessage" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="ResponseSecurityKey" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="ResponseStatus" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="UserName" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="desc" use="literal" />
        <soap:header message="tns:OutMessage_Headers" part="result" use="literal" />
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDataTransfer">
      <soap:operation soapAction="http://tempuri.org/IZATestAppService/processDataTransfer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="processDataTransferMessage">
      <soap:operation soapAction="http://tempuri.org/IZATestAppService/processDataTransferMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZATestAppService">
    <wsdl:port name="ZAMainTestEndpoint" binding="tns:ZAMainTestEndpoint">
      <soap:address location="http://localhost:1001/ZATestAppService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>