Client/01.Presentation/Presentation.Process/Service References/TinDungTDServiceRef/DataModel.EntityFramework.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataModel.EntityFramework" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfTD_KIEM_SOAT_RR">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TD_KIEM_SOAT_RR" nillable="true" type="tns:TD_KIEM_SOAT_RR" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTD_KIEM_SOAT_RR" nillable="true" type="tns:ArrayOfTD_KIEM_SOAT_RR" />
  <xs:complexType name="TD_KIEM_SOAT_RR">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIEN_GIAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_HDTD" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KUOC" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KIEM_SOAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KUOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HOP_DONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_KIEM_SOAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_KUOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_KIEM_SOAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_KUOC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TD_KIEM_SOAT_RR" nillable="true" type="tns:TD_KIEM_SOAT_RR" />
  <xs:complexType name="ObjectChangeTracker">
    <xs:sequence>
      <xs:element minOccurs="0" name="ExtendedProperties" nillable="true" type="tns:ExtendedPropertiesDictionary" />
      <xs:element minOccurs="0" name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
      <xs:element minOccurs="0" name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
      <xs:element minOccurs="0" name="OriginalValues" nillable="true" type="tns:OriginalValuesDictionary" />
      <xs:element minOccurs="0" name="State" type="tns:ObjectState" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="ObjectChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
  <xs:complexType name="ExtendedPropertiesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExtendedProperties">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="ExtendedProperty" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExtendedPropertiesDictionary" nillable="true" type="tns:ExtendedPropertiesDictionary" />
  <xs:complexType name="ObjectsAddedToCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AddedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="AddedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsAddedToCollectionProperties" nillable="true" type="tns:ObjectsAddedToCollectionProperties" />
  <xs:complexType name="ObjectList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectValue" nillable="true" type="xs:anyType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectList" nillable="true" type="tns:ObjectList" />
  <xs:complexType name="ObjectsRemovedFromCollectionProperties">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DeletedObjectsForProperty">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CollectionPropertyName" nillable="true" type="xs:string" />
            <xs:element name="DeletedObjects" nillable="true" type="tns:ObjectList" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectsRemovedFromCollectionProperties" nillable="true" type="tns:ObjectsRemovedFromCollectionProperties" />
  <xs:complexType name="OriginalValuesDictionary">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OriginalValues">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" nillable="true" type="xs:string" />
            <xs:element name="OriginalValue" nillable="true" type="xs:anyType" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OriginalValuesDictionary" nillable="true" type="tns:OriginalValuesDictionary" />
  <xs:simpleType name="ObjectState">
    <xs:list>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="Unchanged" />
          <xs:enumeration value="Added" />
          <xs:enumeration value="Modified" />
          <xs:enumeration value="Deleted" />
        </xs:restriction>
      </xs:simpleType>
    </xs:list>
  </xs:simpleType>
  <xs:element name="ObjectState" nillable="true" type="tns:ObjectState" />
  <xs:complexType name="ArrayOfKT_PHAN_HE_PLOAI">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KT_PHAN_HE_PLOAI" nillable="true" type="tns:KT_PHAN_HE_PLOAI" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKT_PHAN_HE_PLOAI" nillable="true" type="tns:ArrayOfKT_PHAN_HE_PLOAI" />
  <xs:complexType name="KT_PHAN_HE_PLOAI">
    <xs:sequence>
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_PHAN_HE" type="xs:int" />
      <xs:element minOccurs="0" name="MA_DTUONG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KY_HIEU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PHAN_HE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PLOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_PLOAI_BSO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="KT_PHAN_HE_PLOAI" nillable="true" type="tns:KT_PHAN_HE_PLOAI" />
  <xs:complexType name="ArrayOfTDTD_SAN_PHAM">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TDTD_SAN_PHAM" nillable="true" type="tns:TDTD_SAN_PHAM" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTDTD_SAN_PHAM" nillable="true" type="tns:ArrayOfTDTD_SAN_PHAM" />
  <xs:complexType name="TDTD_SAN_PHAM">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAN_CU_TINH_LAI_QH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTHI_DTHU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CTHI_QHAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DGIA_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DGIA_SO_DKY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="DKY_TDOI_LSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HAN_MUC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="HINH_THUC_NOP_KQUY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_CS_TLAI" type="xs:int" />
      <xs:element minOccurs="0" name="ID_LSUAT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LOAI_KQUY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_LSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_THAN_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_BIEN_DO" type="xs:decimal" />
      <xs:element minOccurs="0" name="MA_CSO_TLAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LOAI_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_LSUAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NHOM_SP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_VONG_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MUC_DICH_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_ADUNG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CSO_TINH_KH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HHAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_TGOC_MDINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_TLAI_MDINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUON_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NTAC_LTRON" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PP_TINH_KQUY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTHUC_CHIA_LAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PTHUC_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TIEN_GOP" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_KQUY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STIEN_TDA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="STIEN_TTHIEU" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TEN_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TLAI_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TLAI_PPHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TLAI_PTHUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TLE_HTRA_GOC" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TLE_LPHAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TY_LE_TINH_LAI_QH" nillable="true" type="xs:decimal" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TDTD_SAN_PHAM" nillable="true" type="tns:TDTD_SAN_PHAM" />
  <xs:complexType name="ArrayOfTDTD_HDTD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TDTD_HDTD" nillable="true" type="tns:TDTD_HDTD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTDTD_HDTD" nillable="true" type="tns:ArrayOfTDTD_HDTD" />
  <xs:complexType name="TDTD_HDTD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CAP_LNHIEM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CAP_LNHIEM_LSUAT" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChangeTracker" nillable="true" type="tns:ObjectChangeTracker" />
      <xs:element minOccurs="0" name="DIEN_GIAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HE_SO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DIABAN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_DXVV" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_KHANG" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NGUOI_DTN" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_NGUOI_QLY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="ID_SAN_PHAM" type="xs:int" />
      <xs:element minOccurs="0" name="KHOACH_HTHUC_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KHOACH_NGAY_LAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOAI_TIEN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_BDO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LSUAT_CCAU" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LSUAT_CTRA" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LSUAT_LOAI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_MA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_QHAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LSUAT_QHAN_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_TSUAT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="LSUAT_TSUAT_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LSUAT_VAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="LSUAT_VAY_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DIABAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DVI_TAO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_DXVV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_HMUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_KHANG" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGUOI_DTN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_NGUOI_QLY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MA_SAN_PHAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MUC_DICH_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGANH_KINH_TE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CHUYEN_QH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_DAO_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_GIA_HAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_HD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_KIEM_SOAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_LAP_HD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGAY_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_CNHAT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NGUOI_NHAP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHI_MO_HD" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="PHUONG_THUC_VAY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_GDICH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_HDTD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO_TIEN_CAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_DA_GNGAN" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_GOC_MOI_KY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_LAI_MOI_KY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_MOI_KY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_TKBB" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_TU_CO" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_VAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TIEN_XIN_VAY" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="SO_TKHOAN_NHAN_NO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TGIAN_RUT" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TGIAN_RUT_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TGIAN_VAY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TGIAN_VAY_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_HTHUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRGOC_SO_KY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TRGOC_SO_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_DVI_TINH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_HTHUC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRLAI_SO_KY" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="TRLAI_SO_TKHOAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_BGHI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_GIAI_NGAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_KSOAT_RR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_LY_DO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TTHAI_NVU" nillable="true" type="xs:string" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="TDTD_HDTD" nillable="true" type="tns:TDTD_HDTD" />
</xs:schema>