Client/01.Presentation/Presentation.Process/Service References/TinDungServiceRef/service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" />
  <xs:element name="returnHello">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="returnHelloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnHelloResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q1:TDSanPhamRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="LuuSanPhamResult" nillable="true" type="q2:TDSanPhamResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q3:TDSanPhamRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="CapNhatSanPhamResult" nillable="true" type="q4:TDSanPhamResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSanPham">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q5:TDSanPhamRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaSanPhamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="XoaSanPhamResult" nillable="true" type="q6:TDSanPhamResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinhToanGocVay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q7:TDSanPhamRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinhToanGocVayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="TinhToanGocVayResult" nillable="true" type="q8:TDSanPhamResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuVongVay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q9:TDVongVayRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LuuVongVayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="LuuVongVayResult" nillable="true" type="q10:TDVongVayResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatVongVay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q11:TDVongVayRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CapNhatVongVayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="CapNhatVongVayResult" nillable="true" type="q12:TDVongVayResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaVongVay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q13:TDVongVayRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="XoaVongVayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="XoaVongVayResult" nillable="true" type="q14:TDVongVayResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinDungViMo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q15:TinDungViMoRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinDungViMoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="TinDungViMoResult" nillable="true" type="q16:TinDungViMoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinDungThongThuong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="request" nillable="true" type="q17:TinDungThongThuongRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TinDungThongThuongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CommunicationServices.TinDung.Messages" minOccurs="0" name="TinDungThongThuongResult" nillable="true" type="q18:TinDungThongThuongResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>